---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&location=n0plac3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 16 Jun 2021 00:26:46 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"n0plac3"},"locations":[{"street":"Rua
        3 3","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rondon\u00F3polis","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Mato
        Grosso","adminArea3Type":"State","adminArea1":"BR","adminArea1Type":"Country","postalCode":"78715","geocodeQualityCode":"P1CCA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"BR/PAD/p0/28959","unknownInput":"","type":"s","latLng":{"lat":-16.4256,"lng":-54.68211},"displayLatLng":{"lat":-16.4256,"lng":-54.68211},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&type=map&size=225,160&locations=-16.4256,-54.68211|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-388585790"},{"street":"Rua
        S 3 3","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Palmas","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Tocantins","adminArea3Type":"State","adminArea1":"BR","adminArea1Type":"Country","postalCode":"77064","geocodeQualityCode":"P1CC[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=fe4fded481af63069564cb0e5d97b3ec&exclude=minutely,alerts&key=fe4fded481af63069564cb0e5d97b3ec&lat=-16.4256&lon=-54.68211&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":-16.4256,"lon":-54.6821,"timezone":"America/Cuiaba","timezone_offset":-14400,"current":{"dt":1623803206,"sunrise":1623751484,"sunset":1623791634,"temp":73.8,"feels_like":73.13,"pressure":1015,"humidity":48,"dew_point":52.9,"uvi":0,"clouds":68,"visibility":10000,"wind_speed":3.31,"wind_deg":155,"wind_gust":7.92,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1623801600,"temp":73.8,"feels_like":73.13,"pressure":1015,"humidity":48,"dew_point":52.9,"uvi":0,"clouds":68,"visibility":10000,"wind_speed":3.31,"wind_deg":155,"wind_gust":7.92,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1623805200,"temp":73.36,"feels_like":72.7,"pressure":1015,"humidity":49,"dew_point":53.06,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":1.5,"wind_deg":178,"wind_gust":3.02,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1623808800,"temp":72.25,"feels_like":71.56,"pressure":1015,"humidity":51,"dew_point":53.13,"uvi":0,"clouds":57,"visibility":10000,"wind_speed":1.63,"wind_deg":212,"wind_gust":2.42,"weather":[{"id":803,"main":[...]
