---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&location=boulder,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 13 Jun 2021 19:39:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boulder,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boulder","adminArea5Type":"City","adminArea4":"Boulder
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039983","unknownInput":"","type":"s","latLng":{"lat":40.015831,"lng":-105.27927},"displayLatLng":{"lat":40.015831,"lng":-105.27927},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&type=map&size=225,160&locations=40.015831,-105.27927|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1996848558"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Boulder
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282931994","unknownInput":"","type":"s","latLng":{"lat":40.015831,"lng":-105.27927},"displayLatLng":{"lat":40.015831,"lng":-105.27927},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&type=map&size=225,160&locations=40.015831,-105.27927|marker-sm-50318A-2&scalebar=true&zoom=9&rand=125998889"}]}]}'
  recorded_at: Sun, 13 Jun 2021 19:39:23 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=fe4fded481af63069564cb0e5d97b3ec&exclude=minutely,alerts&key=fe4fded481af63069564cb0e5d97b3ec&lat=40.015831&lon=-105.27927&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0158,"lon":-105.2793,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623613167,"sunrise":1623583904,"sunset":1623637856,"temp":88.14,"feels_like":88.09,"pressure":1021,"humidity":40,"dew_point":60.8,"uvi":11.65,"clouds":1,"visibility":10000,"wind_speed":1.01,"wind_deg":115,"wind_gust":8.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623610800,"temp":88.23,"feels_like":87.44,"pressure":1019,"humidity":37,"dew_point":58.69,"uvi":12.36,"clouds":4,"visibility":10000,"wind_speed":8.93,"wind_deg":94,"wind_gust":10.22,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623614400,"temp":88.14,"feels_like":88.09,"pressure":1021,"humidity":40,"dew_point":60.8,"uvi":11.65,"clouds":1,"visibility":10000,"wind_speed":7.47,"wind_deg":93,"wind_gust":8.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623618000,"temp":88.92,"feels_like":87.78,"pressure":1019,"humidity":35,"dew_point":57.74,"uvi":9.6,"clouds":8,"visibility":10000,"wind_speed":9.48,"wind_deg":74,"wind_gust":10.56,"weather":[{"id":800,"main":"[...]
