---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&location=boulder,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 16 Jun 2021 06:16:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boulder,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boulder","adminArea5Type":"City","adminArea4":"Boulder
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039983","unknownInput":"","type":"s","latLng":{"lat":40.015831,"lng":-105.27927},"displayLatLng":{"lat":40.015831,"lng":-105.27927},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&type=map&size=225,160&locations=40.015831,-105.27927|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-561362258"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Boulder
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282931994","unknownInput":"","type":"s","latLng":{"lat":40.015831,"lng":-105.27927},"displayLatLng":{"lat":40.015831,"lng":-105.27927},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&type=map&size=225,160&locations=40.015831,-105.27927|marker-sm-50318A-2&scalebar=true&zoom=9&rand=699601439"}]}]}'
  recorded_at: Wed, 16 Jun 2021 06:16:48 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=fe4fded481af63069564cb0e5d97b3ec&exclude=minutely,alerts&key=fe4fded481af63069564cb0e5d97b3ec&lat=40.015831&lon=-105.27927&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0158,"lon":-105.2793,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623824208,"sunrise":1623843107,"sunset":1623897125,"temp":74.21,"feels_like":72.88,"pressure":1021,"humidity":33,"dew_point":43.29,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.44,"wind_deg":210,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1623823200,"temp":74.21,"feels_like":72.88,"pressure":1021,"humidity":33,"dew_point":43.29,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":10.67,"wind_deg":256,"wind_gust":9.15,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1623826800,"temp":74.16,"feels_like":72.73,"pressure":1020,"humidity":31,"dew_point":41.61,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":11.03,"wind_deg":256,"wind_gust":9.53,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1623830400,"temp":73.87,"feels_like":72.32,"pressure":1019,"humidity":29,"dew_point":39.65,"uvi":0,"clouds":11,"visibility":10000,"wind_speed":11.99,"wind_deg":259,"wind_gust":12.15,"weather":[{"id":801,"main":"[...]
