---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&location=matsumoto,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 13 Jun 2021 02:24:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"matsumoto,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Matheson","adminArea5Type":"City","adminArea4":"Elbert
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282909399","unknownInput":"","type":"s","latLng":{"lat":39.1717,"lng":-103.974998},"displayLatLng":{"lat":39.1717,"lng":-103.974998},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rXKxhUwdl8iTdNqGbgqB3sBNQlEnXwG0&type=map&size=225,160&locations=39.1717,-103.974998|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-87312879"}]}]}'
  recorded_at: Sun, 13 Jun 2021 02:24:55 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=fe4fded481af63069564cb0e5d97b3ec&exclude=minutely,alerts&lat=39.1717&lon=-103.974998&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.1717,"lon":-103.975,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623551095,"sunrise":1623497355,"sunset":1623550955,"temp":73.33,"feels_like":73.18,"pressure":1014,"humidity":60,"dew_point":58.62,"uvi":0,"clouds":17,"visibility":10000,"wind_speed":15.28,"wind_deg":183,"wind_gust":28.39,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1623549600,"temp":73.33,"feels_like":73.18,"pressure":1014,"humidity":60,"dew_point":58.62,"uvi":0,"clouds":17,"visibility":10000,"wind_speed":15.28,"wind_deg":183,"wind_gust":28.39,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.4,"rain":{"1h":0.24}},{"dt":1623553200,"temp":71.29,"feels_like":70.99,"pressure":1014,"humidity":61,"dew_point":57.16,"uvi":0,"clouds":22,"visibility":10000,"wind_speed":13.27,"wind_deg":186,"wind_gust":29.15,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0.07},{"dt":1623556800,"temp":68.9,"feels_like":68.4,"pressure":1014,"humidity":62,"dew_point":55.36,"uvi":0,"clouds":26,"visibility":10000,"wind_speed":10.09,"wind_deg":201,"wind_gust":21.59,"weather":[{"i[...]
